<% include('header');%>

<form action="" method="POST"></form>

    <table>
         <tr> 
          <td>Name:</td>
            <input type="text" placeholder="Enter Name" name="user_name" id="" required="">
        </tr>
        
        <tr> 
            <td> Email:</td>
              <input type="text" placeholder="Enter Email" name="user_email" id="" required="">
          </tr>



    </table>